<ion-view view-title="Home">
    
    <ion-content>
     <section>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="test">
        </label>
        <div class="card">
        <div class="card-block">
           <h2>Welcome to the 2017 ISCAP Conference!</h2>
           <h3>Information Systems & Computing Academic Professionals</h3>
           ISCAP and EDSIG have a shared mission to strengthen information systems education by encouraging dialog between practitioners and academic professional, facilitating linkages and collaboration opportunities between industry and academia. 
        </div>
        </div>
        <div class="card">
        <div class="card-block">
         You can view the Calender for the schedule of events by clicking the Calender tab down below!
         All events have not been added yet and will soon be. 
         You will be able to search events listed on your iternary
        </div>
        </div>
        <div class="card">
        <div class="card-block">
        Board of Directors for ISCAP can be found at the ISCAP website
        Other information can also be found here, such as where the Hotel is located<br>
        http://www.iscap.info/
        </div>
        </div>
        <div class="card">
        <div class="card-block">
        Find the location of the conference by click on the map icon on the bottom right.
        </div>
        </div>
    </ion-content>
    </section>
</ion-view>
