<ion-tabs class="tabs-icon-top tabs-dark">
    <h4>ISCAP <br>Conference 2017</h4>
    <ion-tab title="Home" icon-on="ion-android-home" icon-off="ion-android-home" ui-sref="tabs.home">
    <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Calendar" icon-on="ion-android-calendar" icon-off="ion-android-calendar" ui-sref="tabs.calendar">
    <ion-nav-view name="calendar-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Map" icon-on="ion-android-map" icon-off="ion-android-map" ui-sref="tabs.map">
    <ion-nav-view name="map-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
