<ion-view view-title="Map">
    <div class="col-sm-6">
                <br/>
                <br/>
                <br/>
				<p><b>Hilton Garden Inn:</b><br> 500 N Interstate 35, Austin, Texas 78701<br> 1-512-480-8181</p>
				<p><b>Austin-Bergstrom International Airport:</b><br> 3600 Presidential Blvd, Austin, TX 78719</p>
				<div id="regularMap" class="map"></div>
				<hr class="spacer">
				<img class="img-responsive img-rounded" src="http://www.iscap.info/joint/img/hotel-img.jpg">
			</div>
</ion-view>