<ion-view view-title="presenters">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="presenter in presenter" type="item-text-wrap" href="#/tab/presenters/{{presenter.id}}">
        <img ng-src="{{presenter.face}}">
        <h2>{{presenter.name}}</h2>
        <p>{{presenter.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(presenter)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>